{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row" style"background: linear-gradient(to right, #093028, #237a57); ">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
          <style>


               @import url('https://fonts.googleapis.com/css?family=Srisakdi');
                h2{            display: block;
                      font-famil:italic;
                      color: #360a70cc;
                      font-size: 40px;
                      font-weight: 1000;
                      text-align: left;
                    }
                    ul {
                      font-family: 'italic',  Georgia;
                    }

              </style>
      <!--Flash message -->

      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" info-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}

      <!-- Login form -->

      {{wtf.quick_form(login_form)}}
      <!-- <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p> -->
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>

{% endblock%}
