{% macro displayCategoryList(category_list) %}
{% for category in category_list %}

<div>
  <h2><a href="/category/{{category.id}}">Category</a></h2>
  <h4>{{ category.description }}</h4>
</div>
{% endfor %}
{% endmacro %}


{% macro displayPitches(pitch_list) %}
{% for pitches in pitch_list %}
<div >
  <ul >
    <li>
      <h3><a  class="text-grey" href="/pitch/{{pitches.id}}">{{pitches.content|truncate(30)}}</a>
        <span><small>Posted at:{{pitches.date_posted.strftime('%Y/%m/%d %r')}}</small></span></h3>
    </li>
  </ul>
</div>
{% endfor %}
{% endmacro %}

{% macro displaySpecificPitch(specific_pitch_list) %}
 {% for comment in specific_pitch_list %}
<div>
  <hr> {{comment.comment_section_id}}
</div>
{% endfor %}
{% endmacro %}
